.message-item {
  display: flex;
  align-items: flex-start;
  gap: 0.75rem;
  margin-bottom: 1rem;
  padding: 0 1rem;
}

.message-item__inbound {
  flex-direction: row-reverse;
}

.message-item__outbound {
  flex-direction: row;
}

.message-item .message-content {
  background: #f1f9fa;
  padding: 0.75rem 1rem;
  border-radius: 12px;
  color: var(--text);
  line-height: 1.4;
  font-size: 0.95rem;
  max-width: 80%;
}

.message-item__inbound .message-content {
  background: var(--edd-blue);
  color: white;
}

.message-item img.avatar {
  width: 2rem;
  height: 2rem;
  margin-top: 0.25rem;
}
